@using MyCv.UI.Components.Shared
@using MyCv.UI.Components.Shared.Content
@using static MyCv.UI.Components.Shared.CodeBlock
@inject IStringLocalizer<MyCv.UI.Resources.Shared> SharedLocalizer;
@inject IStringLocalizer<MyCv.UI.Resources.Components.Pages.Coding> Localizer;

<Section SectionId="design-patterns" SectionName="@SharedLocalizer["DesignPatterns"]">
    <MudText>@Localizer["SectionDesignPatternsIntroduction"]</MudText>
    <CodeBlock Language="@CodeBlock.CodeLanguage.CSharp" Code="@rawCode" Tooltips="@tooltipMap" IdentifiedCodeTokenTypes="@identifiedCodeTokenTypes" />
</Section>

@code {
    private string rawCode = @"
if ()
{
else if ()...
}
}";

    private Dictionary<string, Tooltip> tooltipMap = new()
        {
            ["internal"] = new("Accessibilité Modificateur d'accès public", "", 1),
        };

    private List<IdentifiedCodeTokenType> identifiedCodeTokenTypes = new()
        {
            new("Customer", CodeTokenType.TypeName, 1)
        };
}
