@using MyCv.UI.Components.Shared
@using MyCv.UI.Components.Shared.Content
@using static MyCv.UI.Components.Shared.CodeBlock
@inject IStringLocalizer<MyCv.UI.Resources.Shared> SharedLocalizer;
@inject IStringLocalizer<MyCv.UI.Resources.Components.Pages.Coding> Localizer;

<Section SectionId="functional-tests" SectionName="@SharedLocalizer["FunctionalTests"]">
    <MudText>@Localizer["SectionFunctionalTests"]</MudText>
    <CodeBlock Language="@CodeBlock.CodeLanguage.CSharp" Code="@rawCode" Tooltips="@tooltipMap" IdentifiedCodeTokenTypes="@identifiedCodeTokenTypes" />
</Section>

@code {
    private string rawCode = @"

}";

    private Dictionary<string, Tooltip> tooltipMap = new()
        {
            ["Handle_Exists_EventsOfEntityAreSaved"] = new("Naming convention", "Modificateur d'accès public Lourd mais clair : méthode testée, argument, résultat attendu", 1),
            ["// Arrange."] = new("AAA", "Modificateur d'accès publi odificateur d'accès public https://learn.microsoft.com/en-us/dotnet/standard/design-guidelines/", 1),
            ["Mock<IRepository>();"] = new("MOQ", "Modificateur d'accès publ odificateur d'accès public", 1),
            ["Assert.IsTrue(result.IsSuccess)"] = new("Naming conventio odificateur d'accès public", "Modificateur d'accès public", 1),
        };

    private List<IdentifiedCodeTokenType> identifiedCodeTokenTypes = new()
        {
            new("Customer", CodeTokenType.TypeName, 1)
        };
}
