@using MyCv.UI.Components.Shared
@using MyCv.UI.Components.Shared.Content
@using static MyCv.UI.Components.Shared.CodeBlock
@inject IStringLocalizer<MyCv.UI.Resources.Shared> SharedLocalizer;
@inject IStringLocalizer<MyCv.UI.Resources.Components.Pages.Coding> Localizer;

<Section SectionId="unit-tests" SectionName="@SharedLocalizer["UnitTests"]">
    <MudText>@Localizer["SectionUnitTestsIntroduction"]</MudText>
    <MudText>@Localizer["SectionUnitTestsAAA"]</MudText>
    <CodeBlock Language="@CodeBlock.CodeLanguage.CSharp" Code="@rawCode" Tooltips="@tooltipMap" IdentifiedCodeTokenTypes="@identifiedCodeTokenTypes" />
</Section>

@code {
    private string rawCode = @"

namespace pi.Application.UnitTests.Commands
{
    [TestClass]
    public class SetIsChargingCommandHandlerTest
    {
        [TestMethod]
        public async Task Handle_Exists_EventsOfEntityAreSaved()
        {
            // Arrange.
            var command = new SetIsChargingCommand(
                            Guid: new Guid(""27314045-9c32-4c3b-ad31-24ba6012841a""),
                            IsCharging: false);
            var Repository = new Mock<IRepository>();
            _ = Repository.Setup(d => d.GetAsync(new Guid(""27314045-9c32-4c3b-ad31-24ba6012841a""), It.IsAny<CancellationToken>())).ReturnsAsync(Helper.CreateDomain(new Guid(""27314045-9c32-4c3b-ad31-24ba6012841a"")));
            var handler = new SetIsChargingCommandHandler(Repository.Object);

            // Act.
            var result = await handler.Handle(command, CancellationToken.None);

            // Assert.
            Repository.Verify(x => x.SaveAsync(It.IsAny<>(), It.IsAny<CancellationToken>()), Times.Once);
            Assert.IsTrue(result.IsSuccess);
        }

        [TestMethod]
        public async Task Handle_DoesNotExist_ReturnsFailure()
        {
            // Arrange.
            var command = new SetIsChargingCommand(
                            Guid: new Guid(""27314045-9c32-4c3b-ad31-24ba6012841a""),
                            IsCharging: false);
            var Repository = new Mock<IRepository>();
            var handler = new SetIsChargingCommandHandler(Repository.Object);

            // Act.
            var result = await handler.Handle(command, CancellationToken.None);

            // Assert.
            Assert.IsTrue(result.IsFailure);
        }
    }
}";

    private Dictionary<string, Tooltip> tooltipMap = new()
        {
            ["Handle_Exists_EventsOfEntityAreSaved"] = new("Naming convention", "Modificateur d'accès publ Lourd mais clair : méthode testée, argument, résultat attendu", 1),
            ["// Arrange."] = new("AAA", "Modificateur d'accès public odificateur d'accès pub https://learn.microsoft.com/en-us/dotnet/standard/design-guidelines/", 1),
            ["Mock<IRepository>();"] = new("MOQ", "Modificateur d'accès publi odificateur d'accès public", 1),
            ["Assert.IsTrue(result.IsSuccess)"] = new("Naming convention", "Modificateur d'accès pub odificateur d'accès public", 1),
        };

    private List<IdentifiedCodeTokenType> identifiedCodeTokenTypes = new()
        {
            new("Customer", CodeTokenType.TypeName, 1)
        };
}
